body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pad {
    margin: 10px 5px;
    border: 1px dashed #888;
    width: 100%;
    height: calc(100vh - 350px);
    resize: both;
    overflow: auto;
}

.pad:focus {
    outline: none;
    border-width: 2px;
}
